<!DOCTYPE html>
<html lang="pr-br">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/style.css">
    <title>Landing Page</title>
</head>
<body>

    <header>
        <h1>Horizon Forbidden West</h1>
        <img src="" alt="">
    </header>

    <main>

        <section>
            <h2>Visão Geral do Jogo</h2>
            <article>
                <h3>Junte-se à Aloy para desbravar o Oeste Proibido, uma área majestosa e perigosa que esconde novas ameaças misteriosas.</h3>
                <p>Explore terras distantes, enfrente máquinas maiores e mais imponentes, e encontre novas tribos incríveis ao retornar o futuro distante e pós-apocalíptico de Horizon.

                    A terra está morrendo! Tempestades implacáveis e uma praga incontrolável devastam o que sobrou da humanidade enquanto máquinas assustadoras vagam por territórios próximos. A vida na Terra segue rumo à outra extinção, e ninguém sabe o porquê.
                    
                    Cabe a Aloy descobrir os segredos por trás dessas ameaças e restaurar a ordem e equilíbrio ao mundo. Ao longo do caminho, ela reencontrará velhos amigos, forjará alianças com novas facções e descobrirá o legado do passado antigo enquanto tenta se manter um passo à frente de um novo inimigo.</p>
            </article>
        </section>

        <section>

            <h2>Principais Características</h2>

            <article>

                <h3>Desbrave um vasto mundo aberto</h3>
                <p>Descubra terras distantes, novos inimigos, culturas interessantes e personagens marcantes.</p>
            
            </article>

            <article>

                <h3>Um território majestoso</h3>
                <p>Explore florestas exuberantes, cidades imersas em água e montanhas gigantescas em uma América no futuro distante.</p>
            
            </article>

            <article>

                <h3>Enfrente novos perigos</h3>
                <p>Participe de batalhas estratégicas contra máquinas imensas e inimigos humanos montados usando armas, equipamento e armadilhas criadas a partir de peças recolhidas de sucata.</p>
            
            </article>

            <article>

                <h3>Desvende mistérios surpreendentes</h3>
                <p>Descubra o segredo por trás do colapso iminente da Terra e revele um capítulo oculto no passado distante... um que mudará Aloy para sempre.</p>
            
            </article>

        </section>

        <section>

            <h2>Conheça os personagens de Horizon Forbidden West</h2>

            <article>

                <h3>Aloy</h3>
                <p>A Aloy é uma caçadora de máquinas no mundo de Horizon. Forte, independente, astuta e bondosa, ela era apenas uma exilada sem-mãe e se tornou a defensora da humanidade. Além de tudo isso, ela tem uma determinação incomparável para revelar os mistérios do Oeste Proibido, frear a peste e salvar o planeta.</p>
            
            </article>

            <article>

                <h3>Sylens</h3>
                <p>Pouco se sabe sobre Sylens. Um erudito, sábio e guerreiro errante, o passado dele se resume a uma série de sussurros, caminhos sinuosos e enigmas, tudo encorajado por ele próprio. Contanto que possa permanecer invisível nas sombras, ele poderá seguir sua obsessão: aprender tudo o que pode ser as origens dos homens e das máquinas.</p>
            
            </article>

            <article>

                <h3>Erend</h3>
                <p>Erend é um dos fiéis companheiros de Aloy. Ele é Capitão da Vanguarda, um grupo elite dos guerreiros de Oseram. Ele é valente, engraçado e, às vezes, modesto até demais. No entanto, por trás desse exterior robusto, há um bom coração e uma alma vulnerável que a Aloy quer proteger.</p>
            
            </article>

            <article>

                <h3>GAIA</h3>
                <p>GAIA é a inteligência administradora central do sistema de terraformação Zero Dawn, responsável por trazer vida de volta à Terra após sua destruição mil anos atrás. Em Horizon Zero Dawn, é revelado que ela se sacrificou para impedir o avanço de HADES e que a criação da Aloy fazia parte do seu plano. Ela está de volta em Horizon Forbidden West para ajudar Aloy a erradicar a peste e salvar a humanidade.</p>
            
            </article>

        </section>

    </main>



    <footer>

        <p>
            <a href="https://www.playstation.com/">www.playstation.com</a> - © 2022 Sony Interactive Entertainment LLC
        </p>

    </footer>

</body>
</html>